.savePatient {
   
        color: white;
        
        padding: 5px 20px;
        border-radius: 5px;
       
        background-color: #333333;
      
        font: 400 12px system-ui;
        display: inline;        
    
}