.mainBtn {
  color: white;
  
  padding: 20px 50px;
  border-radius: 5px;
 
  background-color: #333333;

  font: 400 32px system-ui;
  
  
}

html, body, #root, #root>div {

  margin: 0;
  align-items: center;
  display: inline;
}

.app {
  display: flex;
}